fastapi
uvicorn[standard]
pydantic>=2
python-docx
email-validator
python-decouple
motor
passlib[bcrypt]
PyJWT
python-multipart
google-generativeai
dnspython
certifi
requests
google-auth
PyPDF2
pymupdf
docx2txt
Pillow
