fastapi
uvicorn[standard]
pydantic>=2
python-docx
email-validator
python-decouple
motor
passlib[bcrypt]
PyJWT
python-multipart
google-genai
dnspython
certifi
requests
google-auth
cachecontrol
cryptography
deep-translator
PyPDF2
docx2txt
Pillow
